<div class="footer-wrapper bg-light p-5">
    <div class="social d-flex flex-row align-items-center justify-content-center">
        <a href="mailto: easyhotelinc@gmail.com" class="d-flex flex-row align-items-center justify-content-center">
            <i class="icon ion-email"></i>
        </a>
        <a href="#" class="d-flex flex-row align-items-center justify-content-center">
            <i class="icon ion-social-facebook"></i>
        </a>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">Spa</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Contact</a></li>
    </ul>
    <p class="copyright">EasyHotel © 2022</p>
</div>