<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
        <% if ( jwt.role == 1 ) { %>
            <h5 class="text-white h4">Admin Space</h5>
            <span style="cursor:pointer;" onclick="document.location.href='/admin'" class="text-muted">Main Dashboard</span></br>
            <span style="cursor:pointer;" onclick="document.location.href='/admin/roles'" class="text-muted">Roles</span></br>
            <span style="cursor:pointer;" onclick="document.location.href='/admin/ratings'" class="text-muted">Ratings</span></br>
            <span style="cursor:pointer;" onclick="document.location.href='/admin/chats'" class="text-muted">Chats</span></br>
            <span style="cursor:pointer;" onclick="document.location.href='/'" class="text-muted">Home</span>
        <% } else { %>
            <h5 class="text-white h4">Guest Space</h5>
            <span style="cursor:pointer;" onclick="document.location.href='/personal'" class="text-muted">Main Dashboard</span></br>
            <span style="cursor:pointer;" onclick="document.location.href='/personal/chats'" class="text-muted">Chats</span></br>
            <span style="cursor:pointer;" onclick="document.location.href='/'" class="text-muted">Home</span> 
        <% } %>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="n1avbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>