<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', {title:'Admin Panel'}); %>
    <link rel="stylesheet" href="/css/admin/admin-panel.css">
  </head>
  
  <body>
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h5 class="text-white h4">Admin Space</h5>
            <span style="cursor:pointer;" onclick="document.location.href='/admin'" class="text-muted">Main Dashboard</span></br>
            <span style="cursor:pointer;" onclick="document.location.href='/admin/roles'" class="text-muted">Roles</span></br>
            <span style="cursor:pointer;" onclick="document.location.href='/admin/ratings'" class="text-muted">Ratings</span></br>
            <span style="cursor:pointer;" onclick="document.location.href='/admin/chats'" class="text-muted">Chats</span>
          </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="n1avbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>

    <div style="margin-top: 3%;" class="row row-cols-1 row-cols-md-4 mb-4 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Guests</h4>
          </div>
          <div class="card-body">
            <h1 id="numberOfCustomers" class="card-title pricing-card-title">0<small class="text-muted fw-light"></small></h1>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Orders</h4>
          </div>
          <div class="card-body">
            <h1 id="numberOfOrders" class="card-title pricing-card-title">0<small class="text-muted fw-light"></small></h1>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Rooms</h4>
          </div>
          <div class="card-body">
            <h1 id="numberOfRooms" class="card-title pricing-card-title">0<small class="text-muted fw-light"></small></h1>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Services</h4>
          </div>
          <div class="card-body">
            <h1 id="numberOfServices" class="card-title pricing-card-title">0<small class="text-muted fw-light"></small></h1>
          </div>
        </div>
      </div>
      
    </div>
    <div class="d-sm-flex justify-content-between align-items-center transaparent-tab-border {">
      <ul class="nav nav-tabs tab-transparent" role="tablist">
        <li class="nav-item">
          <a class="nav-link link-table active" id="users" data-toggle="tab" href="#" role="tab" aria-selected="true">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-table" id="orders" data-toggle="tab" href="#" role="tab" aria-selected="false">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-table" id="rooms" data-toggle="tab" href="#" role="tab" aria-selected="false">Rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-table" id="services" data-toggle="tab" href="#" role="tab" aria-selected="false">Services</a>
        </li>
      </ul>
      <div class="d-md-block d-none">
        <a href="#" class="text-light p-1"><i class="mdi mdi-view-dashboard"></i></a>
        <a href="#" class="text-light p-1"><i class="mdi mdi-dots-vertical"></i></a>
      </div>
    </div>
    <table class="table align-middle mb-0 bg-white" id="main_table">
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>
        
  </body>
  <footer>
    <%- include('partials/footer'); %>
  </footer>
  <%- include('partials/scripts'); %>
  <script src="/js/admin/admin-panel.js"></script>
</html>