<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', {title:'Admin Panel'}); %>
    <link rel="stylesheet" href="/css/admin/admin-panel.css">
  </head>
  
  <body>
    <%- include('partials/personal'); %>

    <div style="margin-top: 3%;" class="row row-cols-1 row-cols-md-4 mb-4 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Guests</h4>
          </div>
          <div class="card-body">
            <h1 id="numberOfCustomers" class="card-title pricing-card-title">0<small class="text-muted fw-light"></small></h1>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Orders</h4>
          </div>
          <div class="card-body">
            <h1 id="numberOfOrders" class="card-title pricing-card-title">0<small class="text-muted fw-light"></small></h1>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Rooms</h4>
          </div>
          <div class="card-body">
            <h1 id="numberOfRooms" class="card-title pricing-card-title">0<small class="text-muted fw-light"></small></h1>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Services</h4>
          </div>
          <div class="card-body">
            <h1 id="numberOfServices" class="card-title pricing-card-title">0<small class="text-muted fw-light"></small></h1>
          </div>
        </div>
      </div>
      
    </div>
    <div class="d-sm-flex justify-content-between align-items-center transaparent-tab-border {">
      <ul class="nav nav-tabs tab-transparent" role="tablist">
        <li class="nav-item">
          <a class="nav-link link-table active" id="users" data-toggle="tab" href="#" role="tab" aria-selected="true">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-table" id="orders" data-toggle="tab" href="#" role="tab" aria-selected="false">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-table" id="rooms" data-toggle="tab" href="#" role="tab" aria-selected="false">Rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-table" id="services" data-toggle="tab" href="#" role="tab" aria-selected="false">Services</a>
        </li>
      </ul>
      <div class="d-md-block d-none">
        <a href="#" class="text-light p-1"><i class="mdi mdi-view-dashboard"></i></a>
        <a href="#" class="text-light p-1"><i class="mdi mdi-dots-vertical"></i></a>
      </div>
    </div>
    <table class="table align-middle mb-0 bg-white" id="main_table">
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>

    
    <button type="button" class="btn btn-primary btn-rounded add-new">Add New</button>
    <!-- New Users modal-->
    <div class="modal fade" id="add-new-user-modal" tabindex="-1" role="dialog" aria-labelledby="add-new-user-modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title modal-title-status" id="add-new-user-modal">Add New User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body modal-body-status">
            <form id="add-new-user">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Full Name</label>
                <input type="text" class="form-control" id="fullName" name="fullName">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Password</label>
                <input type="text" class="form-control" id="password" name="password">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Role</label>
                <select name="role" class="form-select form-select-sm" aria-label=".form-select-sm example">
                  <option value="1">Admin</option>
                  <option value="2">Manager</option>
                  <option value="3">Worker</option>
                  <option value="4">Guest</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary add-new-user">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- New Room modal-->
    <div class="modal fade" id="add-new-room-modal" tabindex="-1" role="dialog" aria-labelledby="add-new-user-modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title modal-title-status" id="add-new-room-modal">Add New Room</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body modal-body-status">
            <form id="add-new-room">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Room Type</label>
                <select name="roomType" class="form-select form-select-sm" aria-label=".form-select-sm example">
                  <option value="Suite">Suite</option>
                  <option value="Exclusive">Exclusive</option>
                  <option value="Family">Family</option>
                  <option value="Standard">Standard</option>
                </select>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Cost</label>
                <input type="text" class="form-control" id="cost" name="cost">
              </div>
              <div class="mb-3">
                <label for="roomFile" class="form-label">Rooms File - JSON format</label>
                <input class="form-control" type="file" id="roomFile">
              </div>  
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary add-new-room">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  <!-- New Service modal-->
    <div class="modal fade" id="add-new-service-modal" tabindex="-1" role="dialog" aria-labelledby="add-new-user-modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title modal-title-status" id="add-new-service-modal">Add New Service</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body modal-body-status">
            <form id="add-new-service">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Cost</label>
                <input type="text" class="form-control" id="cost" name="cost">
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary add-new-service">Add</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
        
  </body>
  <footer>
    <%- include('partials/footer'); %>
  </footer>
  <%- include('partials/scripts'); %>
  <script src="/js/admin/admin-panel.js"></script>
</html>