<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head', {title:'Guest Panel'}); %>
    </head>
    <body>
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                  <h5 class="text-white h4">Guest Space</h5>
                  <span style="cursor:pointer;" onclick="" class="text-muted">Main</span></br>
                  <span style="cursor:pointer;" onclick="document.location.href='/personal/chats'" class="text-muted">Chats</span>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="n1avbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
          </div>
   </body>
   <footer>
    <%- include('partials/footer'); %>
   </footer>
    <%- include('partials/scripts'); %>
</html>