<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Julius+Sans+One&family=Montserrat:wght@200;400&display=swap"
        rel="stylesheet">
    <!-- CSS only -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
        integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <%- include('partials/head', {title:"🌴 EasyHotel"}); %>
    <link rel="stylesheet" type="text/css" href="css/landingPage.css" />
</head>
<header>
    <%- include('partials/header'); %>
</header>
<body class="bg-light">
    <!-- carousel -->

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/landingPage/banner.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block position-absolute bottom-75 start-50">
                    <h5>EasyHotel</h5>
                    <p>Discover The Surprisingly Different Experience At EasyHotel.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/landingPage/banner4.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block position-absolute bottom-75 start-50">
                    <h6>EasyHotel</h6>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/landingPage/banner7.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block position-absolute bottom-75 start-50">
                    <h6>EasyHotel</h6>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/landingPage/banner9.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block position-absolute bottom-75 start-50">
                    <h5>EasyHotel</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- carousel -->


    <!-- special Offers-->
    <section class="offer top" id="offer">
        <div class="container">
            <div class="heading_top flex1">
                <div class="heading">
                    <h2>Special Offers</h2>
                </div>
                <div class="button">
                    <button class="btn1">VIEW ALL</button>
                </div>
            </div>

            <div class="content grid">
                <div class="box">
                    <div class="img">
                        <img class="image_img" src="images/landingPage/honeymoon.jpg" alt="">
                    </div>
                    <div class="text">
                        <h3>Honeymoon Getaway</h3>
                        <p><span>up to</span> 30%<span> off!</span> </p>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="images/landingPage/summeroffer.jpg" alt="">
                    </div>
                    <div class="text">
                        <h3>Summer Offer</h3>
                        <p><span>Starts From </span> <span>$</span>299 <span>/per night</span> </p>
                    </div>
                </div>
                <div class="box">
                    <div class="img">
                        <img src="images/landingPage/spa.jpg" alt="">
                    </div>
                    <div class="text">
                        <h3>Spa Offer</h3>
                        <p><span>Starts From </span> <span>$</span>99 </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- special Offers-->

    <section class="about top" id="about">
        <div class="container flex">
            <div class="left">
                <div class="img">
                    <img src="images/landingPage/a1.jpg" alt="" class="image1">
                    <img src="images/landingPage/a.jpg" alt="" class="image2">
                </div>
            </div>
            <div class="right">
                <div class="heading">
                    <h5>RAISING COMFOMRT TO THE HIGHEST LEVEL</h5>
                    <h2>Embrace the spirit of EasyHotel and step into the oceanfront escape you've always imagined.</p>
                        <p>we are the perfect home base for your infinite island adventures. Just minutes from the
                            airport, tucked down a tree-lined drive, our private sanctuary is framed by the island's
                            most sensational landscapes. Paradise is our backdrop.</p>
                        <button class="btn1">READ MORE</button>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper top">
        <div class="container">
            <div class="text">
                <h2>Our Amenities</h2>
                <p>Perched overlooking spectacular white sand and turquoise waters, EasyHotel boasts decadent design,
                    luxe amenities, and legendary service, making each and every guest feel like a star. </p>

                <div class="content">
                    <div class="box flex">
                        <i class='fas fa-swimming-pool'></i>
                        <span>Swimming pool</span>
                    </div>
                    <div class="box flex">
                        <i class="fas fa-dumbbell"></i>
                        <span>Gym & yogo</span>
                    </div>
                    <div class="box flex">
                        <i class="fas fa-spa"></i>
                        <span>Spa & massage</span>
                    </div>
                    <div class="box flex">
                        <i class="fas fa-ship"></i>
                        <span>Boat Tours</span>
                    </div>
                    <div class="box flex">
                        <i class="fas fa-swimmer"></i>
                        <span>Surfing Lessons</span>
                    </div>
                    <div class="box flex">
                        <i class="fas fa-microphone"></i>
                        <span>Conference room</span>
                    </div>
                    <div class="box flex">
                        <i class="fas fa-water"></i>
                        <span>Diving & smorking</span>
                    </div>
                    <div class="box flex">
                        <i class="fas fa-umbrella-beach"></i>
                        <span>Private Beach</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- gallery -->

    <section class="gallary mtop " id="gallary">
        <div class="container">
            <div class="heading_top flex1">
                <div class="heading">
                    <h5>WELCOME TO OUR PHOTO GALLERY</h5>
                    <h2>Photo Gallery of Our Hotel</h2>
                </div>
                <div class="button">
                    <button class="btn1">VIEW GALLERY</button>
                </div>
            </div>

            <div class="owl-carousel owl-theme">
                <div class="item">
                    <img src="images/landingPage/g1.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/landingPage/g2.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/landingPage/g3.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/landingPage/g4.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/landingPage/g5.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/landingPage/g6.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/landingPage/g13.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/landingPage/g14.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/landingPage/g24.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/landingPage/g9.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/landingPage/g8.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/landingPage/g10.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/landingPage/g11.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/landingPage/g12.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/landingPage/g19.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/landingPage/g7.jpg" alt="">
                </div>
                <div class="item">
                    <img src="images/landingPage/g23.jpg" alt="">
                </div>

            </div>

        </div>
    </section>

    <!-- gallery -->


    <!-- map -->

    <section class="map top">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1850.9429936121003!2d73.54220483784555!3d4.208597907056148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b3f7f5b4a6e61fb%3A0xc26944aaf347ecbe!2sHulhumal%C3%A9%20Beach!5e0!3m2!1siw!2sil!4v1664732386454!5m2!1siw!2sil"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <!-- map -->

    <!--book-->

    <section class="book">
        <form action="/orders" method="post">
            <div class="container flex">
                <div class="input grid">
                    <div class="box">
                        <label>Check-in:</label>
                        <input name="checkInDate" type="date" placeholder="Check-in-Date" required="">
                    </div>
                    <div class="box">
                        <label>Check-out:</label>
                        <input name="checkOutDate" type="date" placeholder="Check-out-Date" required="">
                    </div>
                    <div class="box">
                        <label>Adults:</label> <br>
                        <input type="number" placeholder="" required="">
                    </div>
                    <div class="box">
                        <label>Children:</label> <br>
                        <input type="number" placeholder="" required="">
                    </div>
                </div>
                <div class="search">
                    <input type="submit" value="SEARCH">
                </div>
            </div>
        </form>
    </section>

    <!--book-->


    <!-- JavaScript Bundle with Popper -->
    <%- include('partials/scripts'); %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"
        integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            dots: false,
            navText: ["<i class='fas fa-chevron-left'></i>", "<i class='fas fa-chevron-right'></i>"],
            responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        })
    </script>

</body>
<footer>
    <%- include('partials/footer'); %>
</footer>
</html>