<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', {title:"Admin Panel"}); %>
    <link rel="stylesheet" href="/css/admin/ratings.css">
  </head>
  <body>
    <%- include('partials/personal'); %>
    <div id='layout'>
      <div id='container'>
        <svg viewBox='0 0 750 500'/>
      </div>
    </div>
  </body>
  <%- include('partials/scripts'); %>
  <script src="/js/admin/ratings.js"></script>
</html>