<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', {title:"Admin Panel"}); %>
    <link rel="stylesheet" href="admin-panel.css">
  </head>
  <body>
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h5 class="text-white h4">Admin Space</h5>
            <span style="cursor:pointer;" onclick="document.location.href='/admin'" class="text-muted">Main Dashboard</span></br>
            <span style="cursor:pointer;" onclick="document.location.href='/admin/roles'" class="text-muted">Roles</span></br>
            <span style="cursor:pointer;" onclick="" class="text-muted">Chats</span>
          </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="n1avbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
    <h2 style="margin-top: 2%;">Roles</h2>
    <table class="table align-middle mb-0 bg-white" id="roles">
      <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Role Name</th>
            <th scope="col">Role ID</th>
        </tr>
    </thead>
      <tbody>
      </tbody>
    </table>
    <div class="chart-container" style="position: relative; height:500px;">
      <canvas id="entropyOfRoles"></canvas>
    </div>
  </body>
  <%- include('partials/scripts'); %>
  <script src="roles.js"></script>
</html>