<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', {title:"Admin Panel"}); %>
    <link rel="stylesheet" href="admin-panel.css">
  </head>
  <body>
    <div class="container-scroller">
      
      <div class="container-fluid page-body-wrapper">
        
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-category">Main</li>

            <li class="nav-item">
              <a class="nav-link" href="/admin">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">Main</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/admin/roles">
                <span class="icon-bg"><i class="mdi mdi-table-large menu-icon"></i></span>
                <span class="menu-title">Roles</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="icon-bg"><i class="mdi mdi-table-large menu-icon"></i></span>
                <span class="menu-title">Chats</span>
              </a>
            </li>

          </ul>
        </nav>
        
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row" id="">
              <div class="col-12">
                <span class="d-flex align-items-center purchase-popup">
                  Hello admin !
                  <i class="mdi mdi-close" id="bannerClose"></i>
                </span>
              </div>
            </div>
            <div class="d-xl-flex justify-content-between align-items-start">
              <h2 class="text-dark font-weight-bold mb-2"> Roles </h2>
            </div>
            <table id="roles" class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Role Name</th>
                        <th scope="col">Role ID</th>
                    </tr>
                </thead>
                <tbody>  
                </tbody>
            </table>
        </div>
    </div>
  </body>
  <%- include('partials/scripts'); %>
  <script src="roles.js"></script>
</html>