<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <%- include('partials/head', {title:"🌴 EasyHotel"}); %>
        <link rel="stylesheet" type="text/css" href="css/spa.css" />
</head>

<header id="headerNav">
    <%- include('partials/header'); %>
</header>

<body>

    <!--  spa & wellness  -->

    <section class="spaWellness" id="spaWellness">
        <div class="container">
            <div class="heading">
                <h5>EASYHOTEL SPA & WELLNESS</h5>
                <h2>Tropical relaxation
                </h2>
            </div>

            <div class="content flex  top">
                <div class="left">
                    <h3>EasyHotel excels at extraordinary experiences
                    </h3>
                    <p>EasyHotel invites you to reset your awareness and embark on a new path to health, harmony and happiness,
                         where the emphasis is on loving the earth as you love yourself. Enjoy
                          Yoga Therapy, Wellness and Planetary Wellbeing – plus a multi award-winning team of Physiotherapy Doctors,
                           Naturopaths and Yoga Therapists – discover individual and shared experiences designed to cultivate care for ourselves,
                         others, the oceans and the entire planet.</p>
                    <p> </p>
                    
                </div>
                <div class="right">
                    <img src="images/spa/wellness.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <!--  spa & wellness  -->

    <!--  spa  -->

    <section class="spa mtop" id="spa">
        <div class="container">
            <div class="heading">
                <h5> SPA </h5>
                <h3>
                    The art of healing. Find peace in body and mind with ancient techniques.</h3>
            </div>

            <div class="content grid2 mtop">
                <div class="box flex">
                    <div class="left">
                        <img src="images/spa/spa1.jpg" alt="">
                    </div>
                    <div class="right">
                        <h4><b>SUNDARI HEALING RITUAL, 90 MIN.</b></h4>
                        <div class="rate flex">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p> Sundari, meaning beautiful, is a delicate and thoughtful healing ritual that is designed
                             to achieve harmony and balance in mind and body,
                             creating an inner calm and outer radiance. </p>
                        <h5>From $199</h5>
                        <button class="flex1">
                            <span>Check Availability</span>
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>
                <div class="box flex">
                    <div class="left">
                        <img src="images/spa/spa3.jpg" alt="">
                    </div>
                    <div class="right">
                        <h4><b>PECIAL DETOX JOURNEY, 120 MIN.</b>S</h4>
                        <div class="rate flex">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p> Revitalise, tone and purify as this active body therapy begins with a zesty
                            exfoliation of Lemon-Ylang Ylang-Frankincense essential oils, relax as an
                            exquisite mineral rich clay infused with powerful herbs with Lavender -
                            Chamomile, Dead sea mud providing the ultimate detox for your body.
                            Leave with toned skin, as body and mind are re-energised.</p>
                        <h5>From $265</h5>
                        <button class="flex1">
                            <span>Check Availability</span>
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>
                <div class="box flex">
                    <div class="left">
                        <img src="images/spa/spa4.jpg" alt="">
                    </div>
                    <div class="right">
                        <h4><b>PERSONALIZED ACUPUNCTURE SOLUTIONS</b></h4>
                        <div class="rate flex">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p> cupuncture, a 3,000-year-old system of medicine now backed up by decades of scientific research,
                            is used for ailments ranging from arthritis and shoulder pain to sleep issues and infertility.
                             After a consultation and assessment,
                            our skilled practitioners use heated needles and optional cupping to promote healing..</p>
                        <h5>From $399</h5>
                        <button class="flex1">
                            <span>Check Availability</span>
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>
                <div class="box flex">
                    <div class="left">
                        <img src="images/spa/beauty.jpg" alt="">
                    </div>
                    <div class="right">
                        <h4><b>CLEOPATRA 24 CARAT GOLD FACIAL, 90 MIN.</b></h4>
                        <div class="rate flex">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p> Described as the ‘queen’ of luxury facials, this experience combines three results-driven
                             treatments to improve skin elasticity,
                             reverse cell damage, increase blood circulation, and regenerate natural collagen.</p>
                        <h5>From $129</h5>
                        <button class="flex1">
                            <span>Check Availability</span>
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  spa  -->

    <!--  yoga  -->

    <section class="yoga top">
        <div class="container">
            <div class="heading">
                <h5>YOGA</h5>
                <h3>YOGA IN THE MALDIVES</h3>
            </div>

            <div class="content flex mtop">
                <div class="left">
                    <img src="images/spa/yoga3.jpg" alt="">
                </div>
                <div class="right">

                    <p>For the sun salutation in the early morning or at sunset: our fitness
                         instructor will guide you through a invigorating and rejuvenating yoga classes in our Yoga Pavilion or on the beach,
                         the perfect place to enjoy the health effects of this discipline.</p>
                    <p>Our condition-targeting Yoga Therapy courses address specific ailments from a medical perspective
                         to reveal the true healing potential of this ancient art. Whether you’re a newbie or a regular practitioner,
                          meet for a chat with
                         one of our Yoga Masters to uncover the knowledge you need to take charge of your own wellbeing.</p>
                    
                </div>
            </div>
        </div>
    </section>

    <!--  yoga  -->

       <!--  gym  -->

       <section class="gym top">
        <div class="container">
            <div class="heading">
                <h5>FITNESS CENTER</h5>
                <h3>GYM</h3>
            </div>


            <div class="content flex  top">
                <div class="left">

                    <p>Stay fit during your holiday in the Maldives!
                         Enjoy our well-equipped gym looking at the blue of the Indian Ocean and keep your workout routine.</p>
                    <p> Our gym covers various areas to get a workout done for those who want to maintain 
                        the streak during their stay. Complimentary access is provided to all our guests for
                         the gym facilities.</p>
                    
                </div>
                <div class="right">
                    <img src="images/spa/gym.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <!--  gym  -->


</body>

<footer>
    <%- include('partials/footer'); %>
</footer>