.card {
    width: 50%;
    opacity: 0.9;
}

body {
    background-image: url("../images/resort-login-image.webp");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 50px;
}