head {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .2))
}

:root {
  --primary-color: #fff;
  --bs-body-bg: #fff
}

button {
  padding: 20px 40px;
  background: 0 0;
  outline: 0;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  margin-top: 20px
}

.home button {
  margin-left: 50px
}

.heading {
  position: relative
}

.heading::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100px;
  height: 4px;
  background: #c1b086
}

.heading h5 {
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #5f5f5f
}

.heading h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 40px 0;
  color: #222
}

.heading p {
  margin-bottom: 20px;
  line-height: 25px;
  color: #5f5f5f;
  margin: 0 0 20px 50px
}

.heading .btn1 {
  margin: 50px 0 20px 50px
}

.btn1 {
  background: #c1b086;
  color: #fff
}

.carousel-item {
  height: 100vh;
  min-height: 300px
}

.carousel-caption {
  bottom: 200px
}

.carousel-caption h5 {
  font-size: 80px;
  color: #004452;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-family: 'CinzelDecorative-Regular', cursive;
}

.carousel-caption h6 {
  font-size: 80px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-family: 'CinzelDecorative-Regular', cursive;
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 20px;
  line-height: 1.9;
  font-family: 'JuliusSansOne-Regular', sans-serif
}

.carousel-caption a {
  text-transform: uppercase;
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  margin-top: 15px
}


/*-------carousel-------*/

/*------special Offers-------*/

.flex1 {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  font-family: 'JuliusSansOne-Regular', sans-serif;
  color: #000
}

.offer .grid {
  grid-template-columns: repeat(3, 1fr)
}

.offer img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px
}

.offer .box {
  box-shadow: 0 13px 43px 0 rgb(37 46 89/10%)
}

.offer .box:hover {
  transform: scale(1.1);
  z-index: 2
}

.offer .text {
  padding: 20px;
  color: #000;
  font-family: 'JuliusSansOne-Regular', sans-serif
}

.offer h2 {
  font-size: 40px
}

.offer h3 {
  font-weight: 400;
  margin-bottom: 10px
}

.offer p span {
  font-size: 18px;
  color: grey
}

.offer p {
  font-size: 22px
}

.top {
  margin-top: 10%
}

.mtop {
  margin-top: 5%
}

.left,
.right {
  width: 50%
}

.about {
  margin-bottom: 50px
}

.about .img {
  position: relative
}

.about .image1 {
  width: 310px;
  height: 450px
}

.about .image2 {
  width: 325px;
  height: 220px;
  position: absolute;
  bottom: 5px;
  z-index: 2;
  right: 30%
}

.heading {
  position: relative
}

.heading::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100px;
  height: 4px;
  background: #c1b086
}

.heading h5 {
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #5f5f5f;
  font-family: 'JuliusSansOne-Regular', sans-serif
}

.heading h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 40px 0;
  color: #222;
  font-family: 'Montserrat-Regular', sans-serif
}

.heading p {
  margin-bottom: 20px;
  line-height: 25px;
  color: #5f5f5f;
  margin: 0 0 20px 50px
}

.heading .btn1 {
  margin: 50px 0 20px 50px
}

.btn1 {
  background: #c1b086;
  color: #fff
}

.wrapper {
  background-image: url(/images/landingPage/b1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  position: relative
}

.wrapper .text {
  background: #21989e;
  padding: 50px;
  width: 40%;
  height: 700px;
  position: absolute;
  top: -13%;
  right: 10%;
  padding-top: 10%;
  color: #fff;
  font-family: 'Montserrat-Regular', sans-serif
}

.wrapper .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px
}

.wrapper h2 {
  font-weight: 400;
  font-family: 'JuliusSansOne-Regular', sans-serif
}

.wrapper p {
  margin: 20px 0 50px 0;
  line-height: 30px
}

.wrapper i {
  margin: 5px 20px 0 0
}

.gallary img {
  width: 270px;
  height: 280px
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  height: 50px;
  position: absolute;
  width: 50px;
  cursor: pointer;
  top: 35%;
  background: 0 0 !important;
  transition: .5s
}

.owl-carousel .owl-prev {
  left: 33px
}

.owl-carousel .owl-next {
  right: 33px
}

.owl-carousel .owl-next:hover,
.owl-carousel .owl-prev:hover {
  background: #c1b086 !important
}

.map iframe {
  width: 100%
}

.flex {
    display: flex;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
  
  .book {
    margin-top: 5%;
    width: 100%;
    height: 20vh;
    color: white;
  }
  
  .book .input {
    background: #242e5a;
    padding: 20px 20px 40px 20px;
  }
  
  .book .search {
    background: #3f9cc1;
    padding: 20px;
  }
  
  input {
    width: 100%;
    padding: 15px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    outline: none;
    background: #263760;
    margin-top: 20px;
    color: white;
  }
  
  ::placeholder {
    color: white;
  }
  
  .book .search {
    width: 20%;
  }
  
  .book .search input {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
  }

/*--------------book--------*/



.banner .nav li a:hover {
    opacity: .5
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px
}

.book {
  margin-top: 5%;
  width: 100%;
  height: 20vh;
  color: #fff
}

.book .input {
  background: #242e5a;
  padding: 20px 20px 40px 20px
}

.book .search {
  background: #3f9cc1;
  padding: 20px
}

input {
  width: 100%;
  padding: 15px;
  border: 2px solid rgba(255, 255, 255, .1);
  outline: 0;
  background: #263760;
  margin-top: 20px;
  color: #fff
}

::placeholder {
  color: #fff
}

.book .search {
  width: 20%
}

.book .search input {
  background: 0 0;
  border: none;
  font-weight: 700;
  font-size: 20px;
  margin-top: 40px
}

 
#testimonials *{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins-Regular';
  box-sizing: border-box;
}
#testimonials a{
  text-decoration: none;
}
#testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  padding-top: 40px;
}
.testimonial-heading{
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-heading span{
  font-size: 1.7rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.testimonial-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
}
.testimonial-box{
  width:600px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px !important;
  margin: 15px !important;
  cursor: pointer;
}
.profile-img{
  width:50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile{
  display: flex;
  align-items: center;
}
.name-user{
  display: flex;
  flex-direction: column;
}
.name-user strong{
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.name-user span{
  color: #979797;
  font-size: 0.8rem;
}
.clip-star {
  background: gold;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  height: 20px;
  width: 20px;
}
.reviews{
  color: #f9d71c;
}
.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.client-comment p{
  font-size: 0.9rem;
  color: #4b4b4b;
}
.testimonial-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

@media(max-width:1060px){
  .testimonial-box{
      width:45%;
      padding: 10px;
  }
}
@media(max-width:790px){
  .testimonial-box{
      width:100%;
  }
  .testimonial-heading h1{
      font-size: 1.4rem;
  }
}
@media(max-width:340px){
  .box-top{
      flex-wrap: wrap;
      margin-bottom: 10px;
  }
  .reviews{
      margin-top: 10px;
  }
}
::selection{
  color: #ffffff;
  background-color: #252525;
}